{% extends 'mainapp/base.html' %}
{% load static from staticfiles %}
{% block content %}
        <div class="col-lg-3 col-lg-offset-4" style="padding-top: 5%; padding-bottom: 3%;">
            <form class="form-group" action="{% url 'search_dictionary' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search dictionary" name="search-term"
                           id="search-term">
                    <div class="input-group-btn">
                        <button id="submit-search-dict" class="btn btn-default" type="button"><i
                                class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="container-for-dict">
            <table class="table table-bordered table-hover table-responsive">
                {% for item in items %}
                    <tr>
                        <td>{{ item.expression }}</td>
                        <td>{{ item.definition }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
{% endblock %}

{% block static_per_page %}
    <script src="{% static 'mainapp/js/auto_complete_dictionary.js' %}"></script>
{% endblock %}