{% extends 'mainapp/base.html' %}
{% load static from staticfiles %}
{% block content %}
       <div class="jumbotron text-center search_bg">
        <h1 style="margin-top:-5px; color:#ffffff; text-shadow: 2px 2px #000000;">Your first point for legal help</h1>
        <br/>
        <form autocomplete="off" class="form-horizontal" action="{% url 'search_dictionary' %}" method="get"
              accept-charset="utf-8">
            <div class="input-group">
                <input value="" class="form-control input-lg" placeholder="What do you need help with?" type="text"
                       name="search-term" id="search-term">
            <span class="input-group-btn">
               <button class="btn btn-default btn-lg" type="submit" id="addressSearch">
                   <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
               </button>
            </span>
            </div>
        </form>
    </div>
        <div id="container-for-dict">
            <table class="table table-bordered table-hover table-responsive">
                {% for item in items %}
                    <tr>
                        <td>{{ item.expression }}</td>
                        <td>{{ item.definition }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock %}

{% block static_per_page %}
    <script src="{% static 'mainapp/js/auto_complete_dictionary.js' %}"></script>
    <script src="{% static 'mainapp/js/prevent_request_on13.js' %}"></script>
{% endblock %}