{% extends 'mainapp/base.html' %}
{% block content %}
    <p class="text-center"><strong>Results:</strong>:</p><br>
    {% if questions %}
        <p><strong>Questions:</strong></p>
    {% endif %}
    {% for question in questions %}
        <p>{{ question }}</p>
    {% endfor %}
    <br>
    {% if issues %}
        <p><strong>Issues:</strong></p>
    {% endif %}
    {% for issue in issues %}
        <p>{{ issue }}</p>
    {% endfor %}
    <br>
    {% if categories %}
        <p><strong>Categories:</strong></p>
    {% endif %}
    {% for category in categories %}
        <p>{{ category }}</p>
    {% endfor %}


{% endblock %}