{% extends 'mainapp/base.html' %}
{% block content %}
    <div class="row text-center">
    <h2>Search results</h2>
        <div class="col-sm-8 col-sm-offset-3">
            {% if questions %}
                <h3>Questions:</h3>
            {% endif %}
            {% for question in questions %}
                <p><a href="/category/{{ question.issue.category.slug }}"><strong>{{ question.question }}</strong></a></p>
                <p>{{ question.answer }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}